.animate-letters_8 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
  min-width: 10px;
}

.animate-letters_9 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
  min-width: 10px;
}

.animate-letters_10 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  min-width: 10px;
}

.animate-letters_11 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.1s;
  min-width: 10px;
}

.animate-letters_12 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
  min-width: 10px;
}

.animate-letters_13 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.3s;
  min-width: 10px;
}

.animate-letters_14 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.4s;
  min-width: 10px;
}

.animate-letters_15 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  min-width: 10px;
}

.animate-letters_16 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
  min-width: 10px;
}

.animate-letters_17 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.7s;
  min-width: 10px;
}

.animate-letters_18 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
  min-width: 10px;
}

.animate-letters_19 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 1.9s;
  min-width: 10px;
}

.animate-letters_20 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  min-width: 10px;
}

.animate-letters_21 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 2.1s;
  min-width: 10px;
}

.animate-letters_22 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 2.2s;
  min-width: 10px;
}

.animate-letters_23 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 2.3s;
  min-width: 10px;
}

.animate-letters_24 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
  min-width: 10px;
}

.animate-letters_25 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  min-width: 10px;
}

.animate-letters_26 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 2.6s;
  min-width: 10px;
}

.animate-letters_27 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 2.7s;
  min-width: 10px;
}

.animate-letters_28 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 2.8s;
  min-width: 10px;
}

.animate-letters_29 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 2.9s;
  min-width: 10px;
}

.animate-letters_30 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  min-width: 10px;
}

.animate-letters_31 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 3.1s;
  min-width: 10px;
}

.animate-letters_32 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 3.2s;
  min-width: 10px;
}

.animate-letters_33 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 3.3s;
  min-width: 10px;
}

.animate-letters_34 {
  opacity: 0;
  animation: bounceIn 1s forwards;
  animation-fill-mode: forwards;
  animation-delay: 3.4s;
  min-width: 10px;
}

/*# sourceMappingURL=AnimateLetter.Module.css.map */
