@import "variables";

.contact-page {
  display: flex;
  align-content: center;
  gap: 80px;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  opacity: 1;
  animation: fadeIn 1.8s;
  @include for-size(lg) {
    align-content: flex-start;
    gap: 40px;
  }
  @include for-size(md) {
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;
    font-size: 150%;
  }

  .text-zone {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    //height: 100%;
    //max-height: 90%;
    @include for-size(lg) {
      width: 100%;
    }
    @include for-size(md) {
      width: 100%;
    }
    @include for-size(sm) {
      width: 100%;
    }

    h1 {
      color: white;
      font-size: 53px;
      font-family: "Coolvetica", sans-serif;
      font-weight: 400;
      animation: fadeInLeft 1s forwards;
      display: flex;
      flex-direction: column;

      @include for-size(md) {
        font-size: 45px;
      }
      @include for-size(sm) {
        font-size: 36px;
      }
      &:before {
        content: "<h1>";
        font-family: "La Belle Aurore", sans-serif;
        color: yellow;
        font-size: 18px;
        margin-top: -40px;
        opacity: 0.6;
        animation: fadeIn 1s 1.8s backwards;
      }

      &:after {
        content: "<h1>";
        font-family: "La Belle Aurore", sans-serif;
        color: yellow;
        font-size: 18px;
        margin-top: 18px;
        opacity: 0.6;
        animation: fadeIn 1s 1.8s backwards;
      }


    }

    .contact-form {
      form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .row {
          display: flex;
          gap: 10px;

          input {
            width: 50%;
          }
        }

        input {
          width: 100%;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 1px solid yellow;
          outline: none;
          background: #022c43;
          color: white;
        }

        input:focus, textarea:focus {
          background-color: #53818b;
          color: white;
        }

        textarea {
          width: 100%;
          height: 100px;
          padding: 12px 20px;
          box-sizing: border-box;
          border: 1px solid yellow;
          outline: none;
          background: #022c43;
          color: white;
        }

        .flat-button {
          color: white;
          max-width: fit-content;
          font-size: 13px;
          font-weight: 400;
          letter-spacing: 4px;
          padding: 10px 24px;
          margin-left: auto;
          margin-top: 10px;
          text-decoration: none;
          white-space: nowrap;
          border-radius: 4px;

          &:hover {
            background-color: yellow;
            color: #333;
          }
        }
      }
    }
  }

  .info-map {

    position: relative;
    width: 50%;
    height: 300px;
    @include for-size(lg) {
      width: 100%;
      //min-height: 500px;
    }
    @include for-size(md) {
      width: 100%;
      //min-height: 400px;
    }
    @include for-size(sm) {
      width: 100%;
      //min-height: 350px;
    }
    //@include for-size(md) {
    //  width: 50%;
    //}

    .contact-info {
      display: block;
      position: absolute;
      top: 100px;
      left: 0;
      background: black;
      color: white;
      padding: 20px 20px;
      z-index: 101;
    }

    .map-wrapper {
      background: rgba(8, 253, 216, 0.1);
      width: 100%;
      height: 100%;
      z-index: 100;
      display: flex;
      position: relative;

      .leaflet-container {
        height: 100%;
        width: 100%;
        //position: absolute;
        //left: 0;
        //top: 0;
      }

    }
  }
}


